
{% extends "todo_app/base.html" %}


{% block title %}
  Hakkında sayfası

{% endblock title %}


{% block icerikyazisi %}
    
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>Site yapım aşaması</center></h1>
    <p class="lead"><center>Batuhan ökmen</center></p>
    <p class="lead"><center>batuhanokmen@gmail.com</center></p>
    <p class="lead"><center>batuhanokmen.com</center></p>
  </div>
</div>
<h1>{{merhaba}}</h1>
{% load static %}



{% endblock icerikyazisi %}

